<div class="content-wrapper">
  <section class="content-header">
      <h1>
         Caja Chica Ejecutivo
         <small>ingresos - egresos</small>
      </h1>
   </section>
<section class="content">
      <a class="btn btn-primary a" (click)="goIngreso()" >ingreso</a>
      <a class="btn btn-primary a" (click)="goEgreso()">egreso</a>
      
     
   <table class="table table-hover" >
      <thead>
         <tr>
            <th>titulo</th>
            <th>descripcion</th>
            <th>num recibo</th>
            <th>fecha</th>
            <th>ingreso</th>
            <th>egreso</th>
            <th>total</th>
               
            
         </tr>
      </thead>
      <tbody> 
         <tr *ngFor="let detalle of detalles">


                <td class="">{{detalle.title }}</td>
                <td class="">{{detalle.description}}</td>
                <td class="">{{detalle.receipt}}</td>
                <td class="">{{detalle.date_detail|date}}</td>
                <td class="" *ngIf="detalle.input==true; else vacio "> {{detalle.amount}}</td>
                <td class="" *ngIf="detalle.input==false; else vacio">{{detalle.amount}}</td>
                <ng-template #vacio class="">
                  ---
    
                </ng-template>
           


         </tr>
      </tbody>
      <tfoot>
        <tr>

          <td class="success"></td>   
          <td class="success"></td>          
          <td class="success"></td>          
          <td class="success"></td>          
          <td class="success"></td>          
          <td class="success"></td>          
          <td class="success">{{total}}</td>       

        </tr>
      </tfoot>


   </table>

   
      <a class="btn btn-danger a" (click)="goCloseCash()">Cerrar Caja</a>
      <!-- <app-confirm-close-cash></app-confirm-close-cash> -->
   
</section>
</div>
