<section class="content-wrapper">
  <div class="content-wrapper">      
    <section class="content">
      
      <div class="md-form">
          <i class="fa fa-pencil prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="form8">Nombre del Programa</label>
          <input type="text" pattern="[a-zA-Z]{3,20}[ ]{0,1}[a-zA-Z]{0,20}[ ]{0,1}[a-zA-Z]{0,20}" id="form34" class="form-control validate" value="{{programName}}" #name>
      </div>
      <br>
      <div class="md-form">
        <i class="fa fa-comment prefix grey-text"></i>
        <label data-error="wrong" data-success="right" for="form8">Detalles</label>
        <textarea type="text" pattern="[a-zA-Z0-9 ]{3,150}" class="md-textarea form-control" rows="4" value="{{programDetails}}" #details>Detalles</textarea>
        <!--<input type="text" id="form34" class="form-control validate" value="{{programDetails}}" #details>-->
      </div>

      <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-success" (click)="saveProgram()">Guardar
             <i class="fa fa-paper-plane-o ml-1"></i>
          </button>
          <button class="btn btn-success" (click)="cancel()">Cancelar
            <i class="fa fa-paper-plane-o ml-1"></i>
         </button>
      </div>
  
    </section>
    <router-outlet></router-outlet>
  </div>
</section>