<div class="content-wrapper">
  <br>
  <div class="">


 
  <div class="box box-primary">

<div class="container">
    <div [hidden]="submitted">
      <h1>Egresos</h1>
      <form (ngSubmit)="onSubmit()" #EgresoForm="ngForm">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" pattern="[a-zA-Z]{3,20}[ ]{0,1}[a-zA-Z]{0,20}[ ]{0,1}[a-zA-Z]{0,20}" class="form-control" id="titulo"
                 required
                 [(ngModel)]="egresoTitulo" name="titulo"
                 #titulo="ngModel">
          <div [hidden]="titulo?.pristine || titulo.valid"
               class="text-alert">
            El Titulo es requerido
          <!-- <div [hidden]="titulo?.valid"
                class="danger">
            El titulo requiere letras -->
          </div>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripcion</label>
          <input type="text" pattern="[a-zA-Z ]{3,150}" class="form-control" id="descripcion"
                 required
                 [(ngModel)]="egresoDescripcion" name="descripcion"
                 #descripcion="ngModel">
          <div [hidden]="descripcion?.valid || descripcion?.pristine"
               class="text-alert">
            Descripcion es requerido
          </div>
        </div>



        <div class="form-group">
          <label for="events">evento al que pertenece</label>
          <select class="form-control" id="events"
                  required
                  [(ngModel)]="egresoEvent" name="events"
                  #events="ngModel">
            <option *ngFor="let event of eventos" [value]="event._id">{{event.name}}</option>
          </select>
          <div [hidden]="events.valid || events.pristine" class="text-alert">
                  sucursal is required
          </div>
        </div>

        <div class="form-group">
          <label for="recibo">Num Recibo</label>
          <input type="number" pattern="[0-9]{0,15}[a-zA-Z]{0,5}" class="form-control" id="recibo"
              required
              [(ngModel)]="egresoRecibo" name="recibo"
              #recibo="ngModel">
          <div [hidden]="recibo.valid || recibo.pristine" class="text-alert">
            recibo es requerido o el tipo de dato es invalido 
          </div>
        </div>

        <div class="form-group">
          <label for="monto">Monto</label>
          <input type="number" pattern="[0-9]{0,5}" class="form-control" id="monto"
              required
              [(ngModel)]="egresoMonto" name="monto"
              #monto="ngModel">
          <div [hidden]="monto.valid || monto.pristine" class="text-alert">
            Monto es requerido o el tipo de dato es invalido 
          </div>
        </div>
   
        <button type="submit" class="btn btn-success" [disabled]="!EgresoForm.form.valid">Guardar</button>
        <button type="button" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
      </form>
    </div>
   
    <!-- <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9  pull-left">{{ model[1] }}</div>
      </div>
      <div class="row">
          <div class="col-xs-3">Name</div>
          <div class="col-xs-9  pull-left">{{ model[2] }}</div>
        </div>
      <div class="row">
        <div class="col-xs-3">Alter Ego</div>
        <div class="col-xs-9 pull-left">{{ model[5] }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">monto</div>
        <div class="col-xs-9 pull-left">{{ model[6] }}</div>
      </div>
      <br>
      <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div> -->
  </div>

  </div>

</div>
</div>