<div class="content-wrapper">
  <br>
  <div class="">


 
        <div class="box box-primary">

          <div class="container">
            

            <h2>Impotar Numeros de excel</h2>

            <div class="form-group">
              <label for="file">Elegir Archivo</label>
              <input type="file" id="file" (change)="handleFileInput($event.target.files)">
              <button type="button" class="btn btn-info" (click)="uploadFileToActivity()">Upload</button>
            </div>
           
           </div>

          </div>
    </div>
</div>