<div class="content-wrapper">
  <section class="content-header">
      <h1>
         Cajas Pendientes por Confirmar
         <small>ingresos - egresos</small>
      </h1>
   </section>
<section class="content">
      
   <table class="table table-hover" >
      <thead>
         <tr>
            <th>Usuario</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Cierre</th>
            <th>Monto</th>
            <th>Monto entregado</th>
            <th>ver</th>
            <th>Confirmar</th>
            
               
            
         </tr>
      </thead>
      <tbody> 
         <tr *ngFor="let caja of nuevasCajas" [ngSwitch]="caja.estado">


                <td class="">{{caja.usuario}}</td>
                <td class="">{{caja.fechaInicio|date}}</td>
                <td class="">{{caja.fechaFin|date}}</td>
                <td class="">{{caja.monto}}</td>
                <td>{{caja.montoEntregado}}</td>
                <td class=""> <a class="btn btn-warning" (click)="infoPendiente(caja.idCaja)">Ver Detalle y confirmar</a></td>
                <td class="" *ngSwitchCase="-1">
                    Caja sin Confirmar
                </td>
                <td class="" *ngSwitchCase="0">
                    <!-- <a class="btn btn-warning" (click)="confirmarCaja(caja.idCaja)">caja por confirmar</a> -->
                    <!-- caja por confirmar -->
                    <button class="btn btn-danger" [disabled]="btnInactive">caja por confirmar </button>

                </td>
                <td class="" *ngSwitchCase="1">
                    <!-- <a class="btn btn-success" >Caja Confirmada</a> -->
                    <!-- caja  confirmada -->
                    <button class="btn btn-success" [disabled]="btnInactive">caja confirmada </button>

                </td>
                <ng-template #vacio class="">
                  ---
    
                </ng-template>
                <td class=""></td>
           


         </tr>
      </tbody>
      <tfoot>
        <tr>

          <td></td>   
          <td></td>          

          <td></td>          
          <td><strong>TOTAL</strong></td>   
          <td>{{cashFlowOfficeAmount}}</td>       
          <td></td>          
          <td></td>          
          <td></td>          
          <td></td>          

        </tr>
      </tfoot>


   </table>

   
      <a class="btn btn-danger a" (click)="cerrarCajaSucursal()">Confirmar</a>

   
</section>
<!-- <router-outlet></router-outlet> -->
</div>
