
<div class="content-wrapper">
      <br>
      <div class="content">
    
    
     
      <div class="box box-primary">
    
    <div class="container">
        <div [hidden]="submitted">
          <h1>Editar Cartera</h1>
          <form (ngSubmit)=" editCartera()" #addCartera="ngForm" >
              <!-- <form #addCartera="ngForm" > -->
            <div class="form-group">
              <label for="name">Nombre Cartera</label>
              <input type="text" pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ]{3,20}([ ]{0,1}[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ]{0,20}){0,2}" class="form-control" id="name"
                     required
                     [(ngModel)]="carteraName" name="name"
                    #name="ngModel"
                     >
              <div [hidden]="name?.valid || name?.pristine"
                   class="text-alert">
                first name is required
              </div>
              <!-- <input type="text" id="name" class="form-control validate" value="{{carteraName}}" #name> -->
            </div>
            <button  type="submit" class="btn btn-success"  (click)=" editCartera()">Guardar</button>
            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
          </form>
        </div>
       
      </div>
    
      </div>
    
    </div>
    </div>
    
    
    
    
    
    
    