<div class="content-wrapper">
  <br>
  <div class="content">
      <div class="box box-primary">
          <div class="container ">
             
            <h5>Compartir Carteras </h5>



            <div>
                <form (ngSubmit)="onSubmit()" #compartirCarterasForm="ngForm">
                    <div class="form-group col-sm-8">
                        <div class="form-group">
                            <label for="ejecutivo">Ejecutivos</label>
                              <br>           
                              <label>
                                <div *ngFor="let ejecutivo of listaEjecutivos; let i = index" >
                                      <input type="checkbox" name="ejecutivo{{i}}" #ejec="ngModel" value="{{ejecutivo.userId}}" [(ngModel)]="ejecutivo.checked" /> {{ejecutivo.userName}} - {{ejecutivo.carteraName}}
                                </div>
                               </label>                                 
                                <div [hidden]="ejec?.valid || ejec?.pristine"
                                    class="text-alert"> 
                                </div>
                         </div>
                    <div class="form-group">
                        <label for="eventos">Eventos</label>
                           <br>        
                             <label>
                                <div *ngFor="let evento of lista_eventos; let i = index" >
                                    <input type="checkbox" name="evento{{i}}" #eventosItem="ngModel" value="{{evento._id}}" [(ngModel)]="evento.checked" /> {{evento.name}}
                                </div>
                              </label>                        
                        <div [hidden]="eventosItem?.valid || eventosItem?.pristine"
                            class="text-alert">
    
                        </div>
                    </div>
        
                      <button type="submit" class="btn btn-success" [disabled]="!compartirCarterasForm.form.valid">Buscar</button>
                      <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                      <br>
                      <br>
                    </div>
                  </form>




              <table class="table table-hover" >
                <thead >
                   <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Telefono</th>
                      <th>Whatsapp Group</th>
                      <th>Ciudad</th>
                      <th>Ocupacion</th>
                      <th colspan="2">Opciones</th>
                   </tr>
                </thead>
                <tbody> 
                   <tr *ngFor="let i of listado_personas">
                      <td>{{ i.first_name }}</td>
                      <th>{{i.last_name}}</th>
                      <td>{{ i.cellphone }}</td>
                      <td>{{i.whatsapp_group}}</td>
                      <td>{{i.city}}</td>
                      <td>{{ i.ocupation }}</td>
                     
                      <td>
                         <!-- <a class="btn btn-primary" (click)="edit(i._id)">EDITAR</a> -->
                        
                      </td>
                   </tr>
                </tbody>
                <h6>asdfasdfasf</h6>
             </table>
    
            </div>

          </div>
      </div>
  </div>

</div>