<div class="content-wrapper">
  <div class="content">

    <div class="box box-primary">

        <section class="content-header">
            <h1>
               Cartera
               <small>Vigentes</small>
            </h1>
           
         </section>
         <section class="content">
             <a class="btn btn-primary a" (click)="addCartera()">registrar cartera</a>
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Nombre de carteras</th>
                     <th>Informacion</th>
                     <th *ngIf='role?.name == "Admin"'>Editar Cartera</th>
                  </tr>
               </thead>
       
               <tbody>
       
                  <tr *ngFor="let cartera of carteras">
                     <td>{{ cartera?.name }}</td>
                     <td *ngIf="cartera?.active==true; else inactivo "> Activa</td>
                     <td>  
                       <a class="btn btn-primary a" (click)="send(cartera._id)">INFORMACION</a>
                     </td>
                     <td *ngIf='role?.name == "Admin"'>
                        <button class="btn btn-warning" (click)="editCartera(cartera._id)">EDITAR</button>
                       
                     </td>
       
                     <ng-template #inactivo>
                         Sin Asignar
                     </ng-template>
                  </tr>
               </tbody>
            </table>
         </section>
    </div>
  </div>
 
</div>