<div class="modal fade" id="modalAddProgram" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
              <div class="modal-header text-center">
                 <h4 class="modal-title w-100 font-weight-bold">Asistencia</h4>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close" #close>
                    <span aria-hidden="true">&times;</span>
                 </button>
              </div>
     
              <div class="modal-body mx-3">
     
                 <!-- <form (ngSubmit)="onSubmit(contactForm);" #contactForm="ngForm" > -->
                <!-- <div>
                    <h3>Elige el estado de la Persona</h3>
                         <label>
                            <input type="radio" name="numero" [(ngModel)]="inscription.state" value=0> En duda</label>
                         <label>
                            <input type="radio" name="numero" [(ngModel)]="inscription.state" value=1> Inscrito</label>
                         <label>
                            <input type="radio" name="numero" [(ngModel)]="inscription.state" value=2> Interesado</label>
                         <label>
                            <input type="radio" name="numero" [(ngModel)]="inscription.state" value=3> Confirmar</label>
                         <label>
                            <input type="radio" name="numero" [(ngModel)]="inscription.state" value=4> Sin Interes</label>
                         <label>
                            <input type="radio" name="numero" [(ngModel)]="inscription.state" value=5> Proximo Evento</label>
                      
                         </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="form34">
                     <i class="fa fa-pencil prefix grey-text"></i> Monto Cancelado</label>
                    <input type="number" class="form-control validate" #nameInput>
                 </div>
                 <br>
                 <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="form34">
                         <i class="fa fa-pencil prefix grey-text"></i> Nro de recibo</label>
                        <input type="text" class="form-control validate" #nameInput>
                </div>
              </div> -->
              <div class="modal-footer d-flex justify-content-center">
                 <button class="btn btn-unique" (click)="save()">Guardar
                    <i class="fa fa-paper-plane-o ml-1"></i>
                 </button>
              </div>
              <!-- </form> -->
           </div>
        </div>
     </div>
        <a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal" data-target="#modalAddProgram">Asistencia</a>
     
