<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  
  <section class="content-header">
     <h1>
        Detalle Sucursal
        <small> <strong>{{office.name}}</strong></small>
     </h1>
     <div>     
      <ol class="breadcrumb">
            <!--<li *ngIf='role?.name == "Admin"'><app-add-ejecutivo></app-add-ejecutivo></li>-->
            <li><a class="btn btn-primary" [routerLink]="['/home/sucursal/personal']"><i class="fa fa-book"></i><span>Personal</span></a></li>
            

      </ol>
    </div> 
  </section>
  <section class="content h">
     <table class="table table-hover">
        <thead>
           <tr class="text-info cabecera hover">

              <th><h4 class="text-center font-family-serif">Nombre Evento</h4></th>
              <th><h4 class="text-center">Ingreso</h4></th>
              <th><h4 class="text-center">Egresos</h4></th>
              <th colspan="2"><h4 class="text-center">Estado</h4></th>
              
           </tr>
        </thead>

        <tbody>
            
           <tr *ngFor="let i of collection" class="bg-info text-center">
              <td>{{i}}</td>
              <td>1000 BS  <a class="btn btn-primary" (click)="send()">Detalle</a></td>
              <td>500 BS  <a class="btn btn-primary" (click)="send()">Detalle</a></td>
              <td>
                 <a class="btn btn-primary" (click)="send()">INFORMACION</a>
              </td>
           </tr>
        </tbody>
     </table>
  </section>
</div>