<div class="content-wrapper">
  <br>
  <!-- <app-alerts></app-alerts> -->
  <div class="content">
     <div class="box box-primary">

        <div class="container ">
           <div [hidden]="submitted">
              <h1>Registrar Evento</h1>
              <br>
              <form (ngSubmit)="save()" #addEvent="ngForm" class="">
                 <div class="form-group col-sm-8">
                    <label for="uni" class="control-label">Nombre Carrera</label>
                    <input type="text" pattern="[a-zA-Z ]{3,150}" class="form-control" id="uni" [(ngModel)]="model.carrera" name="uni" #uni="ngModel" required />
                 </div>
                 <div class="form-group col-sm-8" style="text-align:center ">
                    <button type="submit" class="btn btn-success" [disabled]="!addEvent.form.valid">Guardar</button>
                    <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
                 </div>
              </form>
           </div>
        </div>
     </div>
  </div>
</div>