<div class="container">
  <div class="row">
    <div class="col-md-4 toppad  pull-right col-md-offset-3 ">
      <!--<A href="edit.html" >Editar Perfil</A>-->
      <br>
      <p class="text-info">Fecha: {{date | date}}</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-4 col-lg-offset-4 toppad" >
      <h2 class="text-info" align="center">Perfil de Persona</h2>
      <br>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>{{person?.first_name}} {{person?.last_name}}</strong></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"><img  class="profile-img img-circle img-responsive" src="assets/dist/img/line.png" alt=""></div>
              
            <div class=" col-md-9 col-lg-9 ">
                <strong>Datos personales:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Nombres</td>
                    <td>{{person?.first_name}}</td>
                  </tr>
                  <tr>
                    <td>Apellidos</td>
                    <td>{{person?.last_name}}</td>
                  </tr>
                  <tr>
                    <td>Telefono</td>
                    <td>{{person?.phone}}</td>
                  </tr>
                  <tr>
                    <td>Celular</td>
                    <td>{{person?.cellphone}}</td>
                  </tr>
                  <tr>
                    <td>Correo Electronico</td>
                    <td><a href="mailto:email">{{person?.email}}</a></td>
                  </tr>
                  <tr>
                    <td>Cartera</td>
                    <td>{{carteraReturned?.name}}</td>
                  </tr>
                </tbody>
              </table>
            <strong>Estado laboral de la Persona:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Ocupacion</td>
                    <td>{{person?.ocupation}}</td>                                                                                        
                  </tr>
                <!--Universitario-->
                  <tr *ngIf="ocupation=='universitario'">
                      <td>Carrera</td>                                        
                      <td>{{ocupations?.carrera}}</td>                                      
                  </tr>
                  <tr *ngIf="ocupation=='universitario'"> 
                      <td>Universidad</td>                                        
                      <td>{{ocupations?.universidad}}</td>                                   
                  </tr>
                  <tr *ngIf="ocupation=='universitario'">
                      <td>Semestre</td>                                        
                      <td>{{ocupations?.semestre}}</td>                                     
                  </tr>
                <!--Particular-->
                  <tr *ngIf="ocupation=='particular'">
                      <td>Area de Trabajo</td>                                        
                      <td>{{ocupations?.areaTrabajo}}</td>                                     
                  </tr>
                  <tr>
                <!--Profesional-->
                  <tr *ngIf="ocupation=='profesional'">
                    <td>Profesion</td>                                        
                    <td>{{ocupations?.profesion}}</td>                                     
                  </tr>
                  <tr *ngIf="ocupation=='profesional'">
                    <td>Empresa</td>                                        
                    <td>{{ocupations?.empresa}}</td>                                     
                  </tr>
                  <tr *ngIf=
                  "ocupation=='profesional'">
                    <td>Cargo</td>                                        
                      <td>{{ocupations?.cargo}}</td>                                     
                  </tr>
                </tbody>
              </table>
            <strong>Programas Cursados:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Nombre del programa</td>
                    <td>{{program.name}}</td>
                  </tr>
                  <!--<tr>
                    <td>Asistencias por modulos</td>
                    <td>{{i.assists}}</td>
                  </tr>-->
                  <tr *ngFor="let i of programs">
                    <td>Costo total</td>
                    <td>{{i.total_price}}</td>
                  </tr>
                  <tr *ngFor="let i of programs">
                    <td>Monto cancelado</td>
                    <td>{{i.payed}}</td>
                  </tr><tr *ngFor="let i of programs">
                    <td>Deuda</td>
                    <td>{{i.debt}}</td>
                  </tr>
                </tbody>
              </table>
            <strong>Entrega de requisitos:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Fotografias</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Fotocopia de carnet de identidad</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Fotocopia de titulo profesional</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            <strong>Solicitud de diploma y presentacion de proyecto:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr *ngFor="let i of programs">
                    <td>Trabajo Final</td>
                    <td>{{i.final_work["stade"]}</td>
                    <td>{{i.final_work["observations"]}</td>
                  </tr>
                  <tr *ngFor="let i of programs">
                    <td>Diploma impreso</td>
                    <td>{{i.print_diploma}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>