<div class="container">
  <div class="row">
    <div class="col-md-4 toppad  pull-right col-md-offset-3 ">
      <!--<A href="edit.html" >Editar Perfil</A>-->
      <br>
      <p class="text-info">Fecha: {{date | date}}</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-4 col-lg-offset-4 toppad" >
      <h2 class="text-info" align="center">Perfil de Persona</h2>
      <br>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>{{person?.first_name}} {{person?.last_name}}</strong></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"><img  class="profile-img img-circle img-responsive" src="assets/dist/img/line.png" alt=""></div>
              
            <div class=" col-md-9 col-lg-9 ">
                <strong>Datos personales:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Nombres</td>
                    <td>{{person?.first_name}}</td>
                  </tr>
                  <tr>
                    <td>Apellidos</td>
                    <td>{{person?.last_name}}</td>
                  </tr>
                  <tr>
                      <td>Cédula de Identidad</td>
                      <td>{{person?.ci}}</td>
                  </tr>
                  <tr>
                    <td>Teléfono</td>
                    <td *ngIf="person?.phone==null">-----</td>
                    <td>{{person?.phone}}</td>
                  </tr>
                  <tr>
                    <td>Celular</td>
                    <td>{{person?.cellphone}}</td>
                  </tr>
                  <tr>
                    <td>Correo Electrónico</td>
                    <td><a href="mailto:email">{{person?.email}}</a></td>
                  </tr>
                  <tr>
                    <td>Cartera</td>
                    <td>{{carteraReturned?.name}}</td>
                  </tr>
                </tbody>
              </table>
            <strong>Estado laboral de la Persona:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Ocupación</td>
                    <td>{{person?.ocupation}}</td>                                                                                        
                  </tr>
                <!--Estudiante-->
                  <tr *ngIf="ocupation=='estudiante'">
                      <td>Carrera</td>                                        
                      <td>{{ocupations?.carrera}}</td>                                      
                  </tr>
                  <tr *ngIf="ocupation=='estudiante'"> 
                      <td>Universidad</td>                                        
                      <td>{{ocupations?.universidad}}</td>                                   
                  </tr>
                  <tr *ngIf="ocupation=='estudiante'">
                      <td>Semestre</td>                                        
                      <td>{{ocupations?.semestre}}</td>                                     
                  </tr>
                <!--Particular-->
                  <tr *ngIf="ocupation=='particular'">
                      <td>Área de Trabajo</td>                                        
                      <td>{{ocupations?.areaTrabajo}}</td>                                     
                  </tr>
                  <tr>
                <!--Profesional-->
                  <tr *ngIf="ocupation=='profesional'">
                    <td>Profesión</td>                                        
                    <td>{{ocupations?.profesion}}</td>                                     
                  </tr>
                  <tr *ngIf="ocupation=='profesional'">
                    <td>Empresa</td>                                        
                    <td>{{ocupations?.empresa}}</td>                                     
                  </tr>
                  <tr *ngIf="ocupation=='profesional'">
                    <td>Cargo</td>                                        
                    <td>{{ocupations?.cargo}}</td>                                     
                  </tr>
                </tbody>
              </table>
            <strong>Programas de Interés:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr *ngFor="let i of person?.interes">
                    <td><li>{{i.programName}}</li></td>
                  </tr>
                </tbody>
              </table>
              <strong>Seguimiento:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>
                      <a class="btn btn-primary fa fa-plus" (click)="addTracing(personId)"> Añadir Seguimiento</a>
                    </td> 
                  </tr>
                  <tr *ngFor="let i of tracing">
                    <td>{{ i.date_tracing | date}}</td>
                    <td *ngIf="i.state==1">Programar llamada</td>
                    <td *ngIf="i.state==2">No le contestó llamada</td>
                    <td *ngIf="i.state==3">Contestó pero no confirmó</td>
                    <td>{{ i.details }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>  
      </div>
      <div align="center">
          <button class="btn btn-primary" (click)="cancelar()">Volver</button>
      </div> 
    </div>
  </div>
</div>