<div class="content-wrapper">
  <br>
  <div class="content">
      <div class="box box-primary">
          <div class="container ">
             
            <h5>Filtro de Personas </h5>



            <div>
              <form (ngSubmit)="onSubmit()" #filtroForm="ngForm">
                <div class="form-group col-sm-8">
                    <div class="form-group">
                        <label for="programs">Universidades</label>
                          <br>           
                          <label>
                            <div *ngFor="let uni of listaUniversidades; let i = index" >
                                  <input type="checkbox" name="uni{{i}}" #univer="ngModel" value="{{uni.id}}" [(ngModel)]="uni.checked" /> {{uni.name}}
                            </div>
                           </label>                                 
                            <div [hidden]="univer?.valid || univer?.pristine"
                                class="text-alert"> 
                            </div>
                     </div>
                <div class="form-group">
                    <label for="programs">Medios de Contacto</label>
                       <br>        
                         <label>
                            <div *ngFor="let mc of listaMediosContacto; let i = index" >
                                <input type="checkbox" name="mc{{i}}" #mediosC="ngModel" value="{{mc.id}}" [(ngModel)]="mc.checked" /> {{mc.name}}
                            </div>
                          </label>                        
                    <div [hidden]="mediosC?.valid || mediosC?.pristine"
                        class="text-alert">

                    </div>
                </div>
    
                  <button type="submit" class="btn btn-success" [disabled]="!filtroForm.form.valid">Buscar</button>
                  <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                  <br>
                  <br>
                </div>
              </form>




              <table class="table table-hover" >
                <thead >
                   <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Telefono</th>
                      <th>Whatsapp Group</th>
                      <th>Ciudad</th>
                      <th>Ocupacion</th>
                      <th colspan="2">Opciones</th>
                   </tr>
                </thead>
                <tbody> 
                   <tr *ngFor="let i of listado_personas">
                      <td>{{ i.first_name }}</td>
                      <th>{{i.last_name}}</th>
                      <td>{{ i.cellphone }}</td>
                      <td>{{i.whatsapp_group}}</td>
                      <td>{{i.city}}</td>
                      <td>{{ i.ocupation }}</td>
                     
                      <td>
                         <!-- <a class="btn btn-primary" (click)="edit(i._id)">EDITAR</a> -->
                        
                      </td>
                   </tr>
                </tbody>
                <!-- <h6>.</h6> -->
             </table>
    
            </div>

          </div>
      </div>
  </div>

</div>