<div class="content-wrapper">
  <section class="content-header">
      <h1>
         Detalle Caja Chica Ejecutivo
         <small>ingresos - egresos</small>
      </h1>
   </section>
<section class="content">
     
   <table class="table table-hover" >
      <thead>
         <tr>
            <th>titulo</th>
            <th>descripcion</th>
            <th>num recibo</th>
            <th>fecha</th>
            <th>ingreso</th>
            <th>egreso</th>
            <th>total</th>
               
            
         </tr>
      </thead>
      <tbody> 
         <tr *ngFor="let detalle of detalles">


                <td class="">{{detalle.title }}</td>
                <td class="">{{detalle.description}}</td>
                <td class="">{{detalle.receipt}}</td>
                <td class="">{{detalle.date_detail|date}}</td>
                <td class="" *ngIf="detalle.input==true; else vacio "> {{detalle.amount}}</td>
                <td class="" *ngIf="detalle.input==false; else vacio">{{detalle.amount}}</td>
                <ng-template #vacio class="">
                  ---
    
                </ng-template>
                <td class=""></td>
           


         </tr>
      </tbody>
      <tfoot>
        <tr>

          <td class="success"></td>   
          <td class="success"></td>          
          <td class="success"></td>          
          <td class="success"></td>          
          <td class="success"></td>          
          <td class="success"></td>          
          <td class="success">{{total}}</td>          

        </tr>
      </tfoot>


   </table>
   <section>
    <form (ngSubmit)="onSubmit()" #AmountDeliveredForm="ngForm">
      
      <div class="form-group">
          <label for="delivered">Dinero entregado</label>
          <input type="number" class="form-control" id="delivered"
                 required
                 [(ngModel)]="amountDelivered" name="delivered"
                 #delivered="ngModel">
          <div [hidden]="delivered?.valid || delivered?.pristine"
               class="text-alert">
               el monto is required
          </div>
        </div> 
 
      <button type="submit" class="btn btn-success" [disabled]="!AmountDeliveredForm.form.valid||btnInactiveConfirm">COnfirmar</button>

      <button type="button" class="btn btn-primary" (click)="goPendingCash()">Cancelar</button>
    </form>

   </section>

   
      <!-- <a class="btn btn-primary" (click)="goPendingCash()">Cancelar</a>

      <button class="btn btn-danger" [disabled]="btnInactiveConfirm" (click)="confirmPendingCash()">Confirmar</button>
 -->

   
</section>
<!-- <router-outlet></router-outlet> -->
</div>
